!!!
%html
  %head
    %title code
    %script{src:'https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js'}
    %script{src:'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js'}
    %script{src:'https://cdnjs.cloudflare.com/ajax/libs/ember.js/2.2.0/ember.min.js'}
    %script{src:'https://cdnjs.cloudflare.com/ajax/libs/ember-data.js/2.2.1/ember-data.min.js'}
    / TODO move to server-side precompilation via grunt-ember-templates
    %script{src:'http://builds.emberjs.com/release/ember-template-compiler.js'}
    %script{src:'js/app.js'}

    %link{href: 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', rel: 'stylesheet'}
    %link{rel:'stylesheet', href:'css/app.css'}

  %body
    %script{type:'text/x-handlebars', data: {template: {name: 'application'}}}
      .navbar.navbar-default
        .container
          %a.navbar-brand{href:'#'}
            %img{src:'images/logo.png', alt:'logo', height:'34', width:'224'}
          %ul.nav.navbar-nav.navbar-right
            %li.active{href:'#'} Home
            %li{href:'#/about'} About
      .container
        {{outlet}}
      %footer.container
        %hr
        %p.pull-left
          %span.glyphicon.glyphicon-copyright-mark
          2013 The Flint and Flame
        %p.pull-right{href:'#/credits'} Credits

    %script{type: 'text/x-handlebars', data: {template: {name: 'index'}}}
      %h1 Welcome to the Flint & Flame!

    %script{type: 'text/x-handlebars', data: {template: {name: 'about'}}}
      %h1 About the Fire Spirits!


 